html, body {
  margin: 0;
  padding: 0;
  background-color: #EBEDF3;
  overflow-x: hidden !important;
  font-family:'Montserrat GE SS Two' ;
  
}
code {
  font-family:'Montserrat GE SS Two' ;
}

/* This effectively suppresses the yellow background and text coloring that browsers apply on autofilled inputs. */
/* Override autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Or use your background color */
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
/* Red (#FF0000 or #D32F2F) – The most universally recognized color for errors, signaling danger or urgency. */

.error-color {
  color:#FF0000
}